<form method="post" action="/post" class="row well form-inline">
    <div class="form-group col-sm-11">
        <input type="text" class="form-control" id="post" name="post" placeholder="嚎叫吧，骚年！"> 
    </div>
    <button type="submit" class="btn btn-success col-sm-1"><i class="glyphicon-comment glyphicon"></i> 发言</button> 
</form>